repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: end-of-file-fixer
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-yaml
      - id: trailing-whitespace
      - id: detect-private-key
      - id: fix-encoding-pragma
      - id: no-commit-to-branch
      - id: requirements-txt-fixer
  - repo: https://github.com/ansible-community/ansible-lint
    rev: v6.14.6
    hooks:
      - id: ansible-lint
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint-docker
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.22.0
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
