---

- name: Create MkDocs deployment
  hosts: web
  become: true
  tasks:
    - name: Ensure Git is installed
      ansible.builtin.package:
        name: git
        state: present

    - name: Clone Best-Practice project repository  # noqa latest[git]
      ansible.builtin.git:
        repo: "{{ mkdocs_project_git_url }}"
        dest: "{{ mkdocs_project_destination_directory }}"
        update: "{{ redeploy | default(false) }}"
      notify: Build_mkdocs

    - name: Install Python requirements for MkDocs deployment
      ansible.builtin.pip:
        requirements: "{{ mkdocs_project_destination_directory }}/requirements.txt"
        extra_args: --user

    - name: Ensure Webserver is installed
      ansible.builtin.package:
        name: httpd
        state: present

    - name: Ensure Webserver service is running
      ansible.builtin.service:
        name: httpd
        state: started
      notify: Open_Github_Issue

    - name: Trigger handler when redeployment is necessary
      ansible.builtin.meta: flush_handlers
      when:
        - redeploy is defined
        - redeploy | bool

  handlers:
    - name: Build_mkdocs  # noqa no-changed-when
      ansible.builtin.command:
        cmd: ~/.local/bin/mkdocs build -d /var/www/html
        chdir: "{{ mkdocs_project_destination_directory }}"
